adbutils==0.9.1
allure-pytest==2.8.33
allure-python-commons==2.8.33
apkutils2==1.0.0
Appium-Python-Client==1.0.2
argcomplete==1.12.2
atomicwrites==1.4.0
attrdict==2.0.1
attrs==20.3.0
blinker==1.4
Brotli==1.0.9
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cigam==0.0.3
click==7.1.2
colorama==0.4.4
cryptography==2.9.2
decorator==4.4.2
Deprecated==1.2.11
deprecation==2.1.0
facebook-wda==1.3.4
Flask==1.1.2
h11==0.12.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpath==0.82
jsonschema==3.2.0
kaitaistruct==0.8
ldap3==2.7
LogInit==1.2.8
logzero==1.6.3
lxml==4.6.2
MarkupSafe==1.1.1
mitmproxy==5.2
MyApplication==0.1.0
packaging==20.9
parameterized==0.8.1
passlib==1.7.4
Pillow==8.1.2
pipx==0.16.1.0
pluggy==0.13.1
progress==1.5
protobuf==3.11.3
publicsuffix2==2.20191221
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
pyelftools==0.27
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pyrsistent==0.17.3
pytest==6.2.2
pytest-dependency==0.5.1
pytest-ordering==0.6
pytest-rerunfailures==9.1.1
pywin32==300
PyYAML==5.4.1
requests==2.25.1
retry==0.9.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
selenium==3.141.0
six==1.15.0
sortedcontainers==2.1.0
toml==0.10.2
tornado==6.1
uiautomator2==2.13.1
urllib3==1.26.3
urwid==2.0.1
userpath==1.4.2
weditor==0.6.3
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
wsproto==0.15.0
xmltodict==0.12.0
zstandard==0.13.0
